.footer__wrapper {
  padding-top: 76px;
padding-bottom: 74px;
  background-color: #fff;
  color: #000;
  border-radius: 30px;
}
.footer__contact {
margin-bottom: 66px;
  display: flex;
  gap: 70px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 0;

}
.footer__text {
  font-family: Manrope;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.66px;
  color: #000;
  
}
.footer__inner__contact {
  display: flex;
  gap: 24px;
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  
}
.footer__copyright__text {
  display: block;
  font-family:  Manrope;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.6px;
  color: #000;
  opacity: 0.5;
}
@media (max-width: 961px) {
  .footer__wrapper {
    padding-top: 51px;
  padding-bottom: 49px;
  }
  .footer__contact {
    margin-bottom: 43px;
       }
  .footer__text {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.48px;
    }
    .footer__copyright__text {
           font-size: 14px;
      line-height: 19px;
      letter-spacing: -0.42px;
     
    }
}

@media (max-width: 541px) {
  .footer__wrapper {
    padding-top: 47px;
  padding-bottom: 34px;
  }
  .footer__contact {
    margin-bottom: 40px;
    gap: 22px;
    flex-direction: column;
       }
  .footer__text {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.45px;
    }
    .footer__copyright {
      flex-direction: column;
      gap: 12px;
      }
    .footer__copyright__text {
           font-size: 13px;
      line-height: 18px;
      letter-spacing: -0.39px;
     }
    
}