.hero {
  margin-bottom: 150px;
}
.hero__inner {
  display: flex;
  gap: 20px;
}
.hero__wrapper {
  padding-top: 26px;
  width: 50%;
}
.hero__wrapper_title {
  margin-bottom: 24px;
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 128.6%;
  letter-spacing: 0.3px;
  color: #fcdf4a;
}
.hero__wrapper_subtitle {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 128.6%;
  letter-spacing: 0.3px;
  color: #fcdf4a;
}

.hero__wrapper_text {
  margin-bottom: 50px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  color: #fff;
}
.hero__wrapper_mask-button {
  width: 194px;
  height: 60px;
  background: #fcdf4a;
  display: flex;
}
.hero__wrapper_button {
  margin-top: 18px;
  margin-left: 18px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.3px;
  color: #000;
  text-decoration: none;
}
svg {
  margin: auto;
}
.hero__image {
  position: relative;
  background-image: url(../resurses/fone1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  max-width: 728px;
  height: 685px;
}

.hero__image-foto {
  width: 100%;
}
.header__mask-img-foto1 {
  position: absolute;
  left: 120px;
  top: 0px;
  height: 900px;
}

@media (max-width: 961px) {
  .hero {
    margin-bottom: 100px;
  }

  .hero__wrapper_title {
    margin-bottom: 14px;
    font-size: 44px;
    letter-spacing: 0.3px;
  }
  .hero__wrapper_subtitle {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 128.6%;
    letter-spacing: 0.3px;
  }
  .hero__wrapper_text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1.2px;
  }
  .hero__image {
    height: 550px;
  }
  .hero__image-foto {
    height: 500px;
  }
}

@media (max-width: 541px) {
  .hero {
    margin-bottom: 100px;
  }
  .hero__wrapper {
    padding-top: 0;
    width: 100%;
  }

  .hero__wrapper_title {
    margin-bottom: 14px;
    font-size: 34px;
    letter-spacing: 0.3px;
  }
  .hero__wrapper_subtitle {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 128.6%;
    letter-spacing: 0.3px;
  }
  .hero__wrapper_text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1.2px;
  }
  .hero__image {
    display: none;
  }

  .hero__image-foto {
    height: 200px;
  }
}
