.hero {
  margin-bottom: 150px;

}
.hero__inner {
  position: relative;
  background-image: url(../resurses/fone1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size:contain;
  background-position: 50%;
  background-size: 50% ;
  background-position-y: 25px; 
  background-position-x: right;
  }
 .hero__inner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  z-index: 1000;
  display: block;
  background-size: contain;
  background-image: url(../resurses/программер2.svg);
  background-repeat: no-repeat;
 background-position: unset;
 }
.hero__wrapper {
  padding-top: 66px;
  padding-right: 16px;
  padding-bottom: 48px;
  width: 50%;
}
.hero__wrapper_title {
  margin-bottom: 24px;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 128.6%;
  letter-spacing: 0.3px;
  color: #fcdf4a;
}
.hero__wrapper_subtitle {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 128.6%;
  letter-spacing: 0.3px;
  color: #fcdf4a;
}

.hero__wrapper_text {
  margin-bottom: 65px;
  /* font-family: Montserrat; */
  font-size: 16px;
  line-height: 150%; 
  letter-spacing: 0.64px;
  color: #fff;
}
.hero__wrapper_button {
  margin-left: 18px;
  padding: 15px 20px 15px 20px;
  /* font-family: Montserrat; */
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.3px;
  color: #000;
  text-decoration: none;
  background: #fcdf4a;
}


@media (max-width: 961px) {
  .hero {
    margin-bottom: 100px;
  }
  .hero__wrapper {
    padding-top: 25px;
    padding-bottom: 0;
  }

  .hero__wrapper_title {
    margin-bottom: 14px;
    font-size: 36px;
    letter-spacing: 0.3px;
  }
  .hero__wrapper_subtitle {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 128.6%;
    letter-spacing: 0.3px;
  }
  .hero__wrapper_text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1.2px;
  }
  .hero__image {
    height: 550px;
  }
  .hero__image-foto {
    height: 500px;
  }
}

@media (max-width: 541px) {
  .hero {
    margin-bottom: 100px;
  }
  .hero__inner {
    background-image: none;
  }
  .hero__inner::before {
    background-image: none;
   
  }
  .hero__wrapper {
    padding-top: 0;
    width: 100%;
  }

  .hero__wrapper_title {
    margin-bottom: 14px;
    font-size: 34px;
    letter-spacing: 0.3px;
  }
  .hero__wrapper_subtitle {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 128.6%;
    letter-spacing: 0.3px;
  }
  .hero__wrapper_text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1.2px;
  }
  .hero__image {
    display: none;
  }

  .hero__image-foto {
    height: 200px;
  }
}
