.project {
 margin-bottom: 150px; 
}
.project__inner {
  margin-top: 40px;
 
}
.project__box {
  margin-bottom: 20px;
  position: relative;
}
.project__box::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
 }
.project__box-metric {
  margin-bottom: 20px;
   position: relative; 
}
.project__image {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 40px;
border: 15px black solid;
}

.project__link_text {
  display: inline-block;
  position: absolute;
 top: 27px;
  left: 52px;
  z-index: 100;
justify-content: center;
align-items: center;
text-align: center;
font-family: 'Pattaya', sans-serif;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.6px;
color: #051339;
cursor: pointer;
}
.project__link_image {
  width: 125px;
  height: 125px;
  position: absolute;
  top: 0px;
  left: 45px;

}

.project__image-title {
  margin-bottom: 5px;
  position: absolute;
  bottom: 94px;
  left: 50px;
font-family: IBM Plex Mono;
font-size: 35px;
font-weight: 400;
line-height: 46px;
letter-spacing: -1.05px;
color: #FFF;
}
.project__image-text {
  position: absolute;
  bottom: 50px;
  left: 50px;
font-family: IBM Plex Mono;
font-size: 30px;
font-weight: 400;
line-height: 39px;
letter-spacing: -0.9px;
color: #FFF;
}
.project__btn {
  margin-top: 80px;
  display: inline-block;
   padding: 56px 120px 58px 120px;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
  text-decoration: none;
  border-radius: 10px;
  border-color: #fde047;
  border: 1px solid #fde047;
  color: #fde047;
}
.project__btn:hover {
  background: #fde047;
  color: #000;
}

@media (max-width: 961px) {
  .project__inner {
    margin-top: 53px;
  }

  .project__image-title {
      bottom: 76px;
    left: 40px;
   font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.84px;
  }
  .project__image-text {
      bottom: 40px;
    left: 40px;
  font-size: 24px;
   line-height: 31px;
  letter-spacing: -0.72px;
   }
 
   .project__link_image {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 0px;
    left: 45px;
    }
  
  .project__link_text {
     top: 25px;
    left: 52px;
     font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.4px;
  }

  .project__btn {
    margin-top: 64px;
    padding: 45px 67px 47px 68px;
      font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.7px;

  }
}
@media (max-width: 541px) {
  .project {
    margin-bottom: 100px; 
   }
  .project__inner {
    margin-top: 34px;
  }

.project__image-text {
    bottom: 20px;
  left: 35px;
font-size: 16px;
 line-height: 21px;
letter-spacing: -0.48px;
 }
 .project__image-title {
  bottom: 40px;
  left: 40px;

font-size: 20px;

line-height: 25px;
letter-spacing: -0.85px;
color: #FFF;
}
 .project__link_image {
  width: 70px;
  height: 70px;
  top: 0px;
  left: 45px;
  }

.project__link_text {
   top: 15px;
  left: 51px;
   font-size: 11px;
  line-height: 15px;
  letter-spacing: -0.39px;
}


  .project__btn {
    margin-top: 60px;
       padding: 28px 51px 29px 52px;
     font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.54px;

  }
}
