.services {
    margin-bottom: 150px;
}
.services__title {
 margin-bottom: 80px;
max-width: 403px;
font-family: IBM Plex Mono;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1.05px;
color: #FFF;
}
.service__item {
  margin-bottom: 40px;
}
.service__box {
  height: 200px;
 }
.service__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.service__content {
  display: flex;
  flex-wrap: wrap;
 align-items: center;
  padding: 40px;
  gap: 20px;
   border-radius: 30px;
  background: #222a43;
}
.service__content__item {
  width: calc(50% - 10.5px);
}


.service__title {
  font-family: "IBM Plex Mono", monospace;
  font-size: 55px;
  line-height: 60.5px;
  letter-spacing: -1.65px;
  color: #fde047;
}

@media (max-width: 961px) {
  .services {
    margin-bottom: 110px;
}
.services__title {
  margin-bottom: 60px;
   font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.84px;
}
.service__box {
  height: 162px;
}
.service__image {
  border-radius: 24px;
}
.service__content {
       gap: 20px;
         padding: 36px 36px 36px 32px;
       height: 100%;
       width: 100%;
       border-radius: 24px;
     
 }
 .service__title {
  font-size: 45px;
  line-height: 49px;
  letter-spacing: -1.35px;
}
}

@media (max-width: 630px) {
  .service__title {
    font-size: 38px;
    line-height: 42px;
    letter-spacing: -1.20px;
  }
}

@media (max-width: 541px) {
  .services {
    margin-bottom: 100px;
}
.service__box {
  height: 225px;
}
.service__image {
  border-radius: 24px;
}
.service__content {
 
   gap: 15px;
    padding: 30px 34px 30px 21px;
 }
 .service__content__item {
  width: 100%;
}
.service__title {
  font-size: 35px;
  line-height: 38px;
  letter-spacing: -1.05px;
}

}

